<!DOCTYPE html>
<html lang="en" ng-app="menu">
	<head>
		<meta charset="UTF-8">
		<title>Menu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="./styles/main.css" rel="stylesheet">
	</head>
	<body ng-controller="menuController as menuCtrl">
		<div ng-controller="orderController as orderCtrl">
			<div class="menu" ng-controller="navController as nav">
				<!-- Menu section -->
				<ul class="nav-tab">
					<li ng-repeat="menuCategory in menuCtrl.menu"><a href="#" ng-click="nav.selectTab(menuCategory.category)" ng-class="{active:nav.isSelect(menuCategory.category)}">{{menuCategory.category}}</a></li>
				</ul>
				<div>
					<ul class="category-list" ng-repeat="menuCategory in menuCtrl.menu" ng-show="nav.isSelect(menuCategory.category)">
						<li ng-repeat="dish in menuCategory.dishList" ng-hide="dish.amount <= 0">
							<img ng-src="./images/{{dish.image}}" width="130" height="100" />
							<h3>{{dish.name}}</h3>
							<div ng-show="dish.discount">
								<span class="price-before">Before: {{dish.price | currency}}</span>
								<span class="price-now">Now: {{dish.price * dish.discount / 100 | currency}}</span>
							</div>
							<div ng-hide="dish.discount">
								<span class="price">Price: {{dish.price | currency}}</span>
							</div>
							<div ng-controller="qtyController as qtyCtrl">
								<select ng-model="qtyCtrl.number">
									<option value="">--select qty--</option>
									<option ng-repeat="i in qtyCtrl.getNumber(dish.amount) track by $index">{{$index + 1}}</option>
								</select>
								<button class="add-btn" ng-click="orderCtrl.addOrder(dish, qtyCtrl.number);  qtyCtrl.reset()">Add</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Order section -->
			<div class="order">
				<table border="1">
					<caption>Your Order</caption>
					<tr>
						<td>Name</td>
						<td>Qty</td>
						<td>Price</td>
						<td></td>
					</tr>
					<tr ng-repeat="order in orderCtrl.order">
						<td>{{order[0].name}}</td>
						<td class="orderQty">
							{{order[1]}}
							<a class="addOne" ng-click="orderCtrl.addOrder(order[0], 1)"></a>
							<a class="reduceOne" ng-click="orderCtrl.reduceOrder(order[0], 1)"></a>
						</td>
						<td ng-if="order[0].discount">{{order[1]*order[0].price*order[0].discount/100 | currency}}</td>
						<td ng-if="!order[0].discount">{{order[1]*order[0].price | currency}}</td>
						<td><a class="remove-btn" ng-click="orderCtrl.reduceOrder(order[0], order[1])">Remove</a></td>
					</tr>
					<tr>
						<td colspan="2">Total</td>
						<td colspan="2">{{orderCtrl.sum | currency}}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script src="./scripts/angular.min.js" type="text/javascript"></script>
	<script src="./scripts/main.js" type="text/javascript"></script>
</html>